$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

//@import "../bower_components/sass-bootstrap/lib/bootstrap";
@import "bootsrap.css";
$background-color: #2b3e50;
$orange: #eea236;

html, body {
  margin: 20px;
  background-color: $background-color;

}

body {
    //background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //color: #333;
    background-color: $background-color;
}

.drink{
  background-image: url('../images/glyphicons_000_glass.png');
  height: 23px;
  width: 25px;
  margin-top: 6px;
  color: white;
}

.navbar-brand{
  padding-right: 10px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 600px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: $background-color;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.orange{
  color: $orange;
}
label.label-fix{
  display: block;
  padding-left: 20px;
  text-indent: -15px;
  line-height: 18px;
  cursor: pointer;

}
input.label-fix{
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  cursor: pointer;
}

.search-options{
  margin-bottom: 20px;
}

.bold{
  font-weight: bold;
}

.smaller-head-text{
  font-size: 11px;
  margin-top: 0px;
}

.label{
  margin-left: 5px;
}

.label-info{
  background-color: #A2A494;
}

h5{
  font-size: 14px;
}

.search-filters{
  margin-bottom: 20px;
}

.filter{
  margin: 0px;
  font-size: 11px;
  margin-top: 5px;
  text-align: right;
}

h3.near-me{
  margin: 40px 0px 15px;
}

.store-search-result{
  & a{
    color: #ebebeb;

    & h5{
      color: #ebebeb;
    }

    & h5:hover{
      color: #ebebeb;
    }
  }
}

a{
  color: #ebebeb;
}

a:hover{
  color: #ebebeb;
}

h3.details{
 @extend h3.near-me
}

.delivery-menu-photo img{
  height: 200px;
}

.right-arrow{
  float:right;
}

.left-arrow{
  float:left;
}

.menu-item{
  @extend .store-search-result;
}

button.menu-subcategory{
  margin: 5px;
  font-size: 12.5px;
}

.underline{
  text-decoration: underline;
}

.hero-unit.store-details{
  padding-bottom: 20px;
  padding-top: 0px;
}

table{
  & cart-main{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0px;
  }

  & tr.cart-bottom td {
    background-color: $background-color !important;
  }
}

div.error{
  color: #F20539;
}

input.error{
  border: 1px solid #F20539;
}

td.error{
  color: #F20539;
  &:hover{
    cursor: pointer;
  }
}

.group-created{
  font-size: 12.5px;
  border-radius: 5px;
  margin-top: 3px;
}

button.radius{
  border-radius: 5px;
}

div.checkout{
  margin-bottom: 10px;
}

div.notes{
  margin-bottom: 10px;
}

nav li.inline {
  display: inline-block;

  & a{
    margin-top: 7px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.dropdown-backdrop{
  position: static;
}

