@import url(bootsrap.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);
html, body {
  margin: 20px;
  background-color: #2b3e50; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2b3e50; }

.drink {
  background-image: url("../images/pizza.png");
  background-size: contain;
  height: 25px;
  width: 25px;
  margin-top: 8px;
  margin-left: -5px !important; }

.navbar-brand {
  padding-right: 10px; }

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #2b3e50;
  border-radius: 6px;
  padding: 60px; }

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px; }

.orange {
  color: #eea236; }

label.label-fix {
  display: block;
  padding-left: 20px;
  text-indent: -15px;
  line-height: 18px;
  cursor: pointer; }

input.label-fix {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  cursor: pointer; }

.search-options {
  margin-bottom: 20px; }

.bold {
  font-weight: bold; }

.smaller-head-text {
  font-size: 11px;
  margin-top: 0px; }

.label {
  margin-left: 5px; }

.label-info {
  background-color: #A2A494; }

h5 {
  font-size: 14px; }

.search-filters {
  margin-bottom: 20px; }

.filter {
  margin: 0px;
  font-size: 11px;
  margin-top: 5px;
  text-align: right; }

h3.near-me, h3.details {
  margin: 40px 0px 15px; }

.store-search-result a, .menu-item a {
  color: #ebebeb; }
  .store-search-result a h5, .menu-item a h5 {
    color: #ebebeb; }
  .store-search-result a h5:hover, .menu-item a h5:hover {
    color: #ebebeb; }

a {
  color: #ebebeb; }

a:hover {
  color: #ebebeb; }

.delivery-menu-photo img {
  height: 200px; }

.right-arrow {
  float: right; }

.left-arrow {
  float: left; }

button.menu-subcategory {
  margin: 5px;
  font-size: 12.5px; }

.underline {
  text-decoration: underline; }

.hero-unit.store-details {
  padding-bottom: 20px;
  padding-top: 0px; }

table cart-main {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0px; }
table tr.cart-bottom td {
  background-color: #2b3e50 !important; }

div.error {
  color: #F20539; }

input.error {
  border: 1px solid #F20539; }

td.error {
  color: #F20539; }
  td.error:hover {
    cursor: pointer; }

.group-created {
  font-size: 12.5px;
  border-radius: 5px;
  margin-top: 3px; }

button.radius {
  border-radius: 5px; }

div.checkout {
  margin-bottom: 10px; }

div.notes {
  margin-bottom: 10px; }

.inline-block {
  display: inline-block; }

nav li.inline {
  display: inline-block; }
  nav li.inline a {
    margin-top: 7px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px; }

.dropdown-backdrop {
  position: static; }

.black-text {
  color: black; }

.lobster {
  font-family: 'Lobster', cursive; }

.radius-large {
  border-radius: 10px; }

.bottom-details {
  margin-top: 100px; }

.bottom-details-mobile {
  margin-top: 50px; }

.top-margin-md {
  margin-top: 75px; }

.nope {
  display: none !important; }

.cart {
  background-image: url("../images/cart.png");
  background-size: contain;
  width: 60px;
  height: 35px;
  background-repeat: no-repeat;
  left: -20px;
  padding-top: 4px;
  margin-top: 4px;
  left: 10px; }

.badge.nav {
  margin-left: 23px; }

.small-hero {
  padding: 30px 10px; }

.menu-item {
  margin: 20px; }

.well-mod {
  margin: 20px 45px;
  padding: 0px 5px 0px 5px; }
