<div class="container">
  <div class="hero-unit store-details text-center" ng-hide="groupCart">
    <h3> {{cart.groupName}}'s Cart for <a ui-sref="index.store({ storeId: cart.storeId})">{{cart.storeName}}</a></h3>
  </div>

  <div class="col-sm-8 col-sm-offset-2 notes">
    <div class="text-center notes">
      <label class="control-label" for="phone-number">Your Phone Number:</label>
      <input type="tel" ng-model="phoneNumber" ng-change="storePhoneNumber(phoneNumber)" id="phone-number"/></div>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <table class="table table-striped table-hover text-center cart-main">
      <thead>
      <th class="text-center">Item</th>
      <th class="text-center">Ordered by</th>
      <th class="text-center">Price</th>
      <th class="text-center">Delete</th>
      </thead>
      <tbody>
      <tr ng-repeat="item in cart.items">
        <td>{{item.menuItemName}}</td>
        <td>Test 2</td>
        <td>${{item.menuItemPrice}}</td>
        <td><button class="btn btn-danger btn-xs radius" ng-click="removeFromCart($index)">✗</button></td>
      </tr>
      </tbody>
      <tbody>
      <!--<tr class="cart-bottom">-->
        <!--<td></td>-->
        <!--<td class="text-right cart-bottom"><b>Delivery Fee</b></td>-->
        <!--<td class="text-center cart-bottom">${{cart.deliveryFee}}</td>-->
      <!--</tr>-->
      <tr class="cart-bottom">
        <td></td>
        <td class="text-right cart-bottom"><b>Tip (optional but encouraged)</b></td>
        <td class="text-center cart-bottom"><input ng-change="getSubTotal(); storeTip(tip)" min="0"
                                                    class="col-sm-4 col-sm-offset-5" ng-model="tip" type="number"></td>
      </tr>
      <tr class="cart-bottom">
        <td></td>
        <td class="cart-bottom text-right"><b>Approx Total (before Taxes/Fees)</b></td>
        <td class="text-center cart-bottom">${{ subTotal }}</td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-sm-4 col-sm-offset-4 notes">
    <div class="text-center notes"><input type="checkbox" ng-model="showNoteInput"/>Add Note to Order?</div>
    <p class="text-center" ng-show="showNoteInput">Notes to Merchant (100 character Max):</p>
    <textarea class="col-sm-12" ng-show="showNoteInput" ng-change="storeNotes(notes)" ng-model="notes" maxlength="100">
      {{notes}}
    </textarea>
  </div>
  <div class="col-sm-10 col-sm-offset-1 text-center">
    <!--<div class="row checkout">-->
      <!--prod-->
      <!--<a href="https://api.delivery.com/third_party/authorize?client_id=NWUxNmJiNGIyMWMxNDE1YjRhMjY4OWM3OGUwNGZmOGYw&-->
      <!--redirect_uri=http://localhost:8000/signIn&response_type=code&scope=global">Log In/Create Account</a>-->
      <!--sandbox-->
      <a class="btn btn-success" ng-class="{disabled: !checkoutStepOne}"
         href="http://sandbox.delivery.com/third_party/authorize?client_id=ZmNlMDQ0NWFiZGQ5ZDVmZWE4Y2RhMTA1YzgxOWNmNDhi&
      redirect_uri=http://localhost:8000/checkout&response_type=code&scope=global&state=">
        1) Log In/Create Delivery.com  Account</a>
      <a class="btn btn-success" ng-class="{disabled: !checkoutStepTwo}"
         href="http://sandbox.delivery.com/third_party/credit_card/add?client_id=ZmNlMDQ0NWFiZGQ5ZDVmZWE4Y2RhMTA1YzgxOWNmNDhi&
        redirect_uri=http://localhost:8000/checkout&response_type=code&scope=global&state=ccAdded">
        2) Add Credit Card to Account
      </a>
      -or-
      <a class="btn btn-success" ng-class="{disabled: !checkoutStepTwo}">Pay Cash</a>
    <a ng-click="submitCart()" class="btn btn-success" ng-class="{disabled: !checkoutStepThree}">3) Prepare and Review Order</a>
    </div>

    <div class="row">

    </div>

    <button class="btn" ng-click="deleteCart()"></button>

  </div>
</div>



