<div class="container">
  <div class="hero-unit hidden-xs" ng-show="inDelivery">
    <h1 class="text-center lobster">SlushFun</h1>
    <h3 class="text-center no-lobster">Plan and Order Your Party's Drinks with Friends</h3>
    <div class="row form-group">

      <div class="col-sm-6 ">
        <label for="searchAddress" class="text-center">Address:</label>
        <input type="text" id="searchAddress" ng-model="searchAddress" class="text-center form-control"
               placeholder="123 Fake St"/>
      </div>

      <div class="col-sm-6 ">
        <label for="searchZip" class="text-center">Zip Code:</label>
        <input type="text" id="searchZip" ng-model="searchZip" class="text-center form-control"
               placeholder="90210"/>
      </div>


    </div>
    <div class="text-center">
      <button class="text-center btn btn-warning" ng-click="searchDeliveries()">Search</button>
    </div>

  </div>

  <div class="visible-xs" id="hide-fix" ng-class="{nope: !inDelivery}">
    <h1 class="text-center top-margin-md">SlushFun</h1>
    <h4 class="text-center no-lobster ">Plan and Order Your Party's Drinks with Friends</h4>
    <div class="row form-group">

      <div class="col-sm-6 text-center">
        <label for="searchAddressMob" class="text-center">Address:</label>
        <input type="text" id="searchAddressMob" ng-model="searchAddress" class="text-center form-control"
               placeholder="123 Fake St"/>
      </div>

      <div class="col-sm-6 text-center">
        <label for="searchZipMob" class="text-center">Zip Code:</label>
        <input type="text" id="searchZipMob" ng-model="searchZip" class="text-center form-control"
               placeholder="90210"/>
      </div>

    </div>
    <div class="text-center">
      <button class="text-center btn btn-warning" ng-click="searchDeliveries()">Search</button>
    </div>
  </div>
</div>
<h5 ng-show="inDelivery" class=" text-center no-lobster">Currently available in NYC, Chicago, and Hoboken.</h5>
<div ui-view></div>

