<div ng-show="inSearchResults">
  <h3 class="text-center near-me no-lobster">{{searchMerchantType}} Results Near {{searchZip}}</h3>
  <div class="row search-filters">
    <div class="text-center input-group col-sm-8 col-sm-offset-2">
        <label for="deliveryMax">Max Delivery Fee ($): <input id="deliveryMax" type="number"
                                                                 ng-model="deliveryMax"
                                                                 class="text-center col-xs-6 col-xs-offset-3"></label>
        <label for="minOrderMax">Max Minimum Order ($):<input id="minOrderMax" type="number"
                                                                   ng-model="minOrderMax"
                                                                   class="text-center col-xs-6 col-xs-offset-3">
        </label>
      <div>
        <label for="open">Only Show Open Merchants
        <input type="checkbox" id='open' ng-change="showClosed()" ng-model="onlyShowOpen" checked/></label>
      </div>


    </div>
  </div>


  <div class="row">
    <div class="" ng-show="searchResult"
         ng-repeat="searchResult in searchResults | filter: deliveryCharge | filter: orderMax | filter: isOpen">
         <span ng-switch on="$index % 3">
           <span ng-switch-when="0">
               <div class="col-sm-1"></div>
               <div class="well col-sm-2 col-sm-offset-1" ng-show="searchResult"
                    booze-store search-result="searchResult"></div>
           </span>
           <span ng-switch-when="1">
               <div class="well col-sm-2 col-sm-offset-1" ng-show="searchResult"
                    booze-store search-result="searchResult"></div>
           </span>
           <span ng-switch-when="2">
               <div class="well col-sm-2 col-sm-offset-1" ng-show="searchResult"
                    booze-store search-result="searchResult"></div>
               <div class="col-sm-2"></div>
             <div class="row"></div>
          </span>
    </div>
  </div>
</div>
<div ui-view=""></div>