<div class="container">
  <div class="hero-unit hidden-xs" ng-show="inDelivery">
    <h1 class="text-center lobster">give 'N takeout</h1>
    <h6 class="text-center"></h6>
    <div class="row form-group">

      <div class="col-sm-6">
        <label for="searchAddress" class="text-center">Address:</label>
        <input type="text" id="searchAddress" ng-model="searchAddress" class="text-center form-control"
               placeholder="123 Fake St"/>
      </div>

      <div class="col-sm-6">
        <label for="searchZip" class="text-center">Zip Code:</label>
        <input type="text" id="searchZip" ng-model="searchZip" class="text-center form-control"
               placeholder="90210"/>
      </div>


    </div>
    <div class="text-center">
      <button class="text-center btn btn-warning" ng-click="searchDeliveries()">Search</button>
    </div>
    <h5 class="text-center bottom-details">25% of your order is donated to a hunger-relief charity</h5>
    <h5 class="text-center">Every $1 provides 9 meals</h5>
  </div>

  <div class="visible-xs" id="hide-fix" ng-class="{nope: !inDelivery}">
    <h1 class="text-center lobster top-margin-md">give 'N takeout</h1>
    <h3 class="text-center">Feed Others While Feeding Yourself</h3>
    <div class="row form-group">

      <div class="col-sm-6">
        <label for="searchAddress" class="text-center">Address:</label>
        <input type="text" id="searchAddress" ng-model="searchAddress" class="text-center form-control"
               placeholder="123 Fake St"/>
      </div>

      <div class="col-sm-6">
        <label for="searchZip" class="text-center">Zip Code:</label>
        <input type="text" id="searchZip" ng-model="searchZip" class="text-center form-control"
               placeholder="90210"/>
      </div>

    </div>
    <div class="text-center">
      <button class="text-center btn btn-warning" ng-click="searchDeliveries()">Search</button>
    </div>
    <h5 class="text-center bottom-details-mobile">25% of your order is donated to a hunger-relief charity</h5>
    <h5 class="text-center">Every $1 provides 9 meals</h5>
  </div>
</div>

<div ui-view></div>

