<div class="hero-unit">
  <h3 class="text-center">Find Delivery Spots Near You </h3>
  <div class="row form-group">

    <div class="col-sm-6">
      <label for="searchAddress" class="text-center">Address:</label>
      <input type="text" id="searchAddress" ng-model="searchAddress" class="text-center form-control"
             placeholder="123 Fake St"/>
    </div>

    <div class="col-sm-6">
      <label for="searchZip" class="text-center">Zip Code:</label>
      <input type="text" id="searchZip" ng-model="searchZip" class="text-center form-control"
             placeholder="90210"/>
    </div>

  </div>

  <div class="row search-options">

    <div class="col-sm-3 col-sm-offset-1">
      <label class="label-fix"><input type="radio" name="merchantType" value="food"
                                      class="text-center label-fix" ng-model="searchMerchantType"/>
        Food</label>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <label class="label-fix"><input type="radio" name="merchantType" value="booze"
                                      class="text-center label-fix" ng-model="searchMerchantType"/>
        Booze</label>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <label class="label-fix"><input type="radio" name="merchantType" value="both"
                                      class="text-center label-fix" ng-model="searchMerchantType"/>
        Both</label>
    </div>

  </div>
  <div class="text-center">
    <button class="text-center btn btn-warning" ng-click="searchDeliveries()">Search</button>
  </div>
  <div ui-view></div>

</div>
