<div class="container">
  <button class="btn btn-warning left-arrow  hidden-xs" ng-show="$parent.searchResultIndex > 0"
    ng-click="prevMerchant($parent.searchResultIndex)">❰ Previous Merchant </button>
  <button class="btn btn-warning right-arrow hidden-xs" ng-show="$parent.searchResultIndex < searchResults.length"
      ng-click="nextMerchant($parent.searchResultIndex)">
    Next Merchant ❱
  </button>

  <div class="hero-unit hidden-xs store-details">
    <h3 class="text-center "> {{searchResults[$parent.searchResultIndex].summary.name}}</h3>
    <h6 class="text-center smaller-head-text">{{searchResults[$parent.searchResultIndex].location.landmark}}</h6>
    <div class="text-center">
      <h6 class="text-center bold label"
          ng-class="{true:'label-success', false:'label-danger'}
          [searchResults[$parent.searchResultIndex].ordering.is_open]">
      {{searchResults[$parent.searchResultIndex].ordering.is_open ? "Open" : "Closed"}}
    </h6></div>
    <div class="text-center">
      <span class="label" ng-class="{'label-success':searchResults[$parent.searchResultIndex].summary.overall_rating >= 80,
                                     'label-primary' : searchResults[$parent.searchResultIndex].summary.overall_rating > 60
                                      && searchResults[$parent.searchResultIndex].summary.overall_rating < 80,
                                     'label-danger' : searchResults[$parent.searchResultIndex].summary.overall_rating < 60}"
            ng-show="searchResults[$parent.searchResultIndex].summary.overall_rating">
      {{searchResults[$parent.searchResultIndex].summary.overall_rating}}/100
      </span>
      <span class="label label-info" ng-show="searchResults[$parent.searchResultIndex].summary.overall_rating===0">
                  No Reviews
      </span>
      <span class="label label-success"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.delivery_charge===0 &&
            searchResults[$parent.searchResultIndex].ordering.delivery_percent===0}}">
        No Delivery Fee
      </span>
      <span class="label label-primary"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.delivery_charge!=0}}">
        Delivery Fee: ${{searchResults[$parent.searchResultIndex].ordering.delivery_charge}}
      </span>
      <span class="label label-primary"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.delivery_percent!=0}}">
        Delivery Fee: {{searchResults[$parent.searchResultIndex].ordering.percent}}%
      </span>
      <br/>
      <span class="label label-success"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.minimum===0}}">
        No Minimum
      </span>
      <span class="label label-primary"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.minimum!==0}}">
        Minimum: ${{searchResults[$parent.searchResultIndex].ordering.minimum}}
      </span>
      <br/>
    </div>

  </div>
  <div class="visible-xs store-details">
    <h3 class="text-center "> {{searchResults[$parent.searchResultIndex].summary.name}}</h3>
    <h6 class="text-center smaller-head-text">{{searchResults[$parent.searchResultIndex].location.landmark}}</h6>
    <div class="text-center">
      <h6 class="text-center bold label"
          ng-class="{true:'label-success', false:'label-danger'}
          [searchResults[$parent.searchResultIndex].ordering.is_open]">
        {{searchResults[$parent.searchResultIndex].ordering.is_open ? "Open" : "Closed"}}
      </h6></div>
    <div class="text-center">
      <span class="label" ng-class="{'label-success':searchResults[$parent.searchResultIndex].summary.overall_rating >= 80,
                                     'label-primary' : searchResults[$parent.searchResultIndex].summary.overall_rating > 60
                                      && searchResults[$parent.searchResultIndex].summary.overall_rating < 80,
                                     'label-danger' : searchResults[$parent.searchResultIndex].summary.overall_rating < 60}"
            ng-show="searchResults[$parent.searchResultIndex].summary.overall_rating">
      {{searchResults[$parent.searchResultIndex].summary.overall_rating}}/100
      </span>
      <span class="label label-info" ng-show="searchResults[$parent.searchResultIndex].summary.overall_rating===0">
                  No Reviews
      </span>
      <span class="label label-success"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.delivery_charge===0 &&
            searchResults[$parent.searchResultIndex].ordering.delivery_percent===0}}">
        No Delivery Fee
      </span>
      <span class="label label-primary"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.delivery_charge!=0}}">
        Delivery Fee: ${{searchResults[$parent.searchResultIndex].ordering.delivery_charge}}
      </span>
      <span class="label label-primary"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.delivery_percent!=0}}">
        Delivery Fee: {{searchResults[$parent.searchResultIndex].ordering.percent}}%
      </span>
      <br/>
      <span class="label label-success"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.minimum===0}}">
        No Minimum
      </span>
      <span class="label label-primary"
            ng-show="{{searchResults[$parent.searchResultIndex].ordering.minimum!==0}}">
        Minimum: ${{searchResults[$parent.searchResultIndex].ordering.minimum}}
      </span>
      <br/>
    </div>

  </div>
  <h3 class="text-center"><b class="underline ">Menu Categories</b></h3>
  <div class="row menu-item text-center">
    <span ng-repeat="menuCategory in storeDetails.menu">
    <div class="col-sm-3 " ng-class="menuCategory.name"
        ng-show="selectedCategory === menuCategory.name || selectedCategory === undefined">
      <a href="" ng-click="setSelected(menuCategory.name)">
        <h4 class="text-center" ng-click="setSelectedCategory(menuCategory.name); getMenuItems(menuCategory)">
          {{menuCategory.name.replace('amp;', '').replace('&','')}}
        </h4>
      </a>
      <div class="text-center">
        <button class="btn btn-warning" ng-click="unsetSelectedCategory()"
                ng-show="selectedCategory === menuCategory.name" >
          ← Back to Categories
        </button>
      </div>
      <!--<div class="delivery-menu-photo text-center"-->
           <!--ng-show="selectedCategory === menuCategory.name || selectedCategory === undefined">-->
        <!--<a href="" ng-click="setSelectedCategory(menuCategory.name); getMenuItems(menuCategory)">-->
          <!--<img ng-src="/images/{{formatMenuCategory(menuCategory.name.toLowerCase())}}_stock.jpg" alt=""/>-->
        <!--</a>-->
      <!--</div>-->
      <!--<br/>-->

    </div>
       <div class="col-sm-6 text-center" ng-show="selectedCategory === menuCategory.name">
         <h5 class="underline bold text-center" >{{menuCategory.name.replace('amp;', '')}}</h5>
         <table class="table table-striped">
           <thead>
           <!--TODO: add sorting arrows (or hat) here-->
           <th class="text-center">Name</th>
           <th class="text-center">Price</th>
           <th class="text-center">Cart</th>
           </thead>
           <tbody>
             <tr ng-repeat="menuItem in menuItems  | offset: currentPage*itemsPerPage | limitTo: itemsPerPage
             | orderBy: 'name' " class="menu-item">
               <td>
                 <!--TODO: REFA this to remove this on results themselves or create filter..-->
                 {{menuItem.name.replace('amp;', '')}}
               </td>
               <td>
                 ${{menuItem.price}}
               </td>
               <td>
                 <button class="btn btn-success btn-xs"
                         ng-click="addToCart(menuItem.id, searchResults[$parent.searchResultIndex].summary.name,
                         menuItem.name, menuItem.price, searchResults[$parent.searchResultIndex].id,
                         searchResults[$parent.searchResultIndex].ordering.minimum,
                         searchResults[$parent.searchResultIndex].ordering.time_needed)">
                   Add
                 </button>
               </td>
             </tr>
           </tbody>
         </table>
         <div class="row">
           <div class="col-xs-6 text-left">
             <button class="btn btn-warning btn-xs" ng-if="currentPage > 0" ng-click="prevPage()">
               Prev 5
             </button>
           </div>
           <div class="col-xs-6 text-right">
             <button class="btn btn-warning btn-xs" ng-if="currentPage < menuItems.length / itemsPerPage - 1"
                     ng-click="nextPage()">Next 5</button>
           </div>
         </div>
         <br/>

       </div>
      <!--<div class="col-sm-3" ng-show="selectedCategory === menuCategory.name">-->
        <!--<input type="text" placeholder="filters and such"/>-->
      <!--</div>-->

    </div>


</div>
