<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-container">
      <a href="#" class="navbar-brand">SlushFun</a>
      <span class="glyphicon drink"></span>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="isLoggedIn">Hello {{userName}}!</a></li>
        <li><a ui-sref="index.deliveries">Find Deliveries</a></li>
        <li><a href="#" ng-hide="isLoggedIn">Register</a></li>
        <li><a href="#" ng-hide="isLoggedIn">Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Cart <span class="badge">{{cart.items.length || 0}}</span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <!--TODO confirm empty cart..-->
            <li><a href="#">Merch Name</a></li>
            <li><a href="" ng-click="emptyCart()">Empty Cart</a></li>
          </ul>
        </li>
        <li ng-show="isLoggedIn"><a href="" ng-click="logOut()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="hero-unit" ng-show="inIndex">
  <h1 class="text-center">SlushFun</h1>
  <p>Plan and Order Your Party's Food/Drinks with Your Friends</p>
  <div class="row">
    <div class="col-sm-6 text-center">
      <a ui-sref="index.login" class="btn btn-primary">Login</a>
    </div>
    <div class="col-sm-6 text-center">
      <a ui-sref="index.register" class="btn btn-primary">Register</a>
    </div>
  </div>
</div>


<div ui-view></div>

